In [1]:
dict1 = {
    'name' : 'Shakeel',
    'address' : 'SITE Town',
    'city' : 'Karachi'
}

In [2]:
'name' in dict1

True

In [4]:
'Shakeel' in dict1

False

In [5]:
'Karachi' in dict1

False

In [6]:
'city' in dict1

True

In [7]:
'Karachi' in dict1.values()

True

In [8]:
'Karachi' in dict1.items()

False

In [9]:
'city' in dict1.items()

False

In [10]:
'city' in dict1.keys()

True

In [11]:
'city' is dict1

False

In [12]:
'Karachi' is dict1

False

In [13]:
() is ()

True

In [14]:
[] is []

False

In [16]:
'abc' is 'bbc'

False

In [2]:
dict2 = {'name' : 'shakeel' , 'age' : 25}
list1 = [1, 2, 3, 4, 5, 6]
list2 = ['a', 'b', 'c', 'd', 'e']

dict2['marks'] = list1

In [3]:
dict2

{'name': 'shakeel', 'age': 25, 'marks': [1, 2, 3, 4, 5, 6]}

In [5]:
dict2['char'] = list2

In [6]:
dict2

{'name': 'shakeel',
 'age': 25,
 'marks': [1, 2, 3, 4, 5, 6],
 'char': ['a', 'b', 'c', 'd', 'e']}

In [7]:
for x,y in dict2.items():
    if x == 'char':
        print(y)

['a', 'b', 'c', 'd', 'e']

In [8]:
tup1 = (1, 2, 3, 4, 5)
tup1[0]

1

In [14]:
tup1[1:3]

(2, 3)

In [19]:
tup2 = int(1), int(33), int(455), 'ghj', 'klj', 'l', 'shkl'

In [20]:
tup2

(1, 33, 455, 'ghj', 'klj', 'l', 'shkl')

In [21]:
str(min(tup2))

TypeError: '<' not supported between instances of 'str' and 'int'

In [22]:
tup3 = (1, 22, 44, 5)
min(tup3)

1

In [23]:
max(tup3)

44

In [24]:
tup4 = ('ab', 'ac', 'kl', 'gh', 'kju', 'ghjty')
min(tup4)

'ab'

In [25]:
max(tup4)

'kl'

In [26]:
str(max(tup4))

'kl'

In [27]:
tup4

('ab', 'ac', 'kl', 'gh', 'kju', 'ghjty')

In [28]:
max(tup4)

'kl'

In [29]:
tup5 = 'shakeel', 'haider', 'adnan', 'ashir', 'shk'
print( str( min(tup5) ) )
print( str( max(tup5) ) )

adnan
shk

In [30]:
listE = ['shakeel', 'haider', 'adnan', 'ashir', 'shk']
print( str( min(listE) ) )
print( str( max(listE) ) )

adnan
shk

In [32]:
max(str(listE))

's'

## numeric vs numeric

In [33]:
5 > 3

True

In [34]:
5 > 7

False

In [35]:
7 < 9

True

In [36]:
100 > 200

False

In [37]:
10000 < 20000

True

# string vs string

In [38]:
'a' > 'b'

False

In [39]:
'a' < 'b'

True

In [40]:
'c' > 'f'

False

In [41]:
'z' > 'g'

True

In [42]:
'x' < 'y'

True

In [43]:
'abc' > 'abc'

False

In [44]:
'abc' < 'abc'

False

In [46]:
'abc' == 'abc'

True

In [47]:
'abc' > 'ghk'

False

In [48]:
'abc' == 'ghk'

False

In [49]:
'abc' < 'ghk'

True

In [50]:
'abcd' > 'ghk'

False

In [51]:
'xy' > 'abcghlt'

True

## numeric vs string

In [52]:
1 > 'a'

TypeError: '>' not supported between instances of 'int' and 'str'

In [53]:
1 > '1'

TypeError: '>' not supported between instances of 'int' and 'str'

In [54]:
'2' > 2

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
'3' == 8

False

In [56]:
'3' == 3

False

## list vs list

In [58]:
list1 = [1, 3, 6, 77, 99]
list2 = [33, 44, 98, 77]
list1 > list2

False

In [59]:
list1 == list2

False

In [60]:
list1 < list2

True

In [61]:
li1 = [10000, ]
li2 = [23, 88, 77, 9999]
li1 > li2

True

In [62]:
li2 > li1

False

In [63]:
min(li2)

23

In [64]:
max(li2)

9999

In [65]:
vv = ['a', 'b', 'c', 'y', 'x', 'g', 'z', 'o']
min(vv)

'a'

In [66]:
max(vv)

'z'

In [67]:
'azb' > 'abz'

True

In [68]:
'azb' > 'zab'

False

In [69]:
'azb' > 'zba'

False